* {
    color: darkslategray;
    font-family: Arial;
}

#topbar {
    margin-top: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#topbar a {
    text-decoration: none;
    padding: 0 0.6rem;
    cursor: pointer;
}

#topbar a:hover {
    text-decoration: underline;
}

#topbar a #pp:hover {
    outline: none !important;
    border: none solid transparent;
    box-shadow: 0 0 10px #719ECE;
}

#topbar a #appbtn:hover {
    outline: none !important;
    border: none solid transparent;
    box-shadow: 0 0 10px #719ECE;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#topbar #pp {
    border-radius: 50%;
}

#appbtn {
    margin: 4px;
}

a {
    text-align: center;
    font-size: 13px;
}

#logo img {
    margin-top: 0.8rem;
}

#sbox #searchb {
    display: block;
    margin: 2rem auto;
    padding: 0.5rem 2.5rem;
    width: 527px;
    height: 2rem;
    border: none;
    border-radius: 3rem;
    border-width: thin;
    border-color: slategray;
    background: url(./img/voicelogo.png) no-repeat;
    background-position: 565px;
    background-size: 1.6rem;
    border: 1px solid #dfe1e5;
}

#sbox img {
    position: relative;
    top: -4.3rem;
    left: -9.8rem;

}

#sbox #searchb:focus {
    outline: none !important;
    border: 1px solid lightslategray;
    box-shadow: 0 0 10px #719ECE;
}

#sbox {
    text-align: center;
}

#searchb {
    font-size: 16px;
    padding: 2rem;
}

#sbox .btn {
    padding: 0.5rem;
    background: #F8F9FA;
    border: 1px solid transparent;
    height: 2rem;
    border-radius: 0.3rem;
    margin: 0 0.3rem;
    font-size: 14px;
    border: 1px solid #dfe1e5;
}

#sbox .btn:hover {
    outline: none !important;
    border: 1px solid #dfe1e5;
    box-shadow: 0 0 2px #719ECE;
}

#sbox .btn:active {
    border: 1px solid blue;
}

footer {
    height: 6rem;
    margin-top: 16rem;
    margin-bottom: 0;
    background: #F2F2F2;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer .foot1 {
    float: left;
}

footer .foot2 {
    float: right;
}

footer div {
    justify-content: space-evenly;
}

footer div ul {
    display: flex;

}

footer div li {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

footer div li a {
    text-decoration: none;
    opacity: 0.7;
    padding: 0 1rem;
    font-size: 14px;
}

footer div li a:hover {
    text-decoration: underline;
}

hr {
    border: 1px solid #dfe1e5;
    padding: 0;
    margin: 0;
}

p {
    padding-left: 1.5rem;
    opacity: 0.7;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
    height: 2rem;
}